doc/terminals.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- HOMEINFO Terminal Library Web Interface -->
<xs:schema  xmlns="http://xml.homeinfo.de/schema/terminallib"
            xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
            targetNamespace="http://xml.homeinfo.de/schema/terminallib">

    <!-- Root element -->
    <xs:element name="terminals" type="TerminalLibrary"/>


    <!-- Terminal library root type -->
    <xs:complexType name="TerminalLibrary">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A terminal web API solution by HOMEINFO Digitale Informationssysteme GmbH
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="customer" type="Customer" maxOccurs="unbounded"/>
                <xs:element name="terminal" type="TerminalInfo" maxOccurs="unbounded"/>
                <xs:element name="class" type="Class" maxOccurs="unbounded"/>
                <xs:element name="details" type="TerminalDetails"/>
                <xs:element name="console" type="WebConsole"/>
                <xs:element name="screenshot" type="Screenshot"/>
                <xs:element name="domain" type="Domain" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="setup_operator" type="SetupOperator" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="administrator" type="Administrator" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="session_token" type="UUID4">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A session token
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <!-- Abstract, common terminal information -->
    <xs:complexType name="TerminalData" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Basic terminal information
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="location" type="Address" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The terminal's location
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="annotation" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        An optional annotation
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The appropriate record's ID
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tid" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The terminal identifier
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scheduled" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Date and time when the terminal is scheduled for delivery.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="deployed" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Date and time when the terminal was deployed.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="deleted" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Date and time when the terminal was deleted. If missing, terminal is not deleted.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="status" type="xs:boolean">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The terminal's current status
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ipv4addr" type="IPv4Address">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The terminal's IPv4 address identifier
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <!-- Basic terminal information for listing -->
    <xs:complexType name="TerminalInfo">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Basic terminal information
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TerminalData">
                <xs:attribute name="cid" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The customer identifier
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Terminal verbose details -->
    <xs:complexType name="TerminalDetails">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                More detailed terminal information
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TerminalData">
                <xs:sequence>
                    <xs:element name="customer" type="Customer"/>
                    <xs:element name="class" type="Class">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The terminal's class
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="domain" type="Domain">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The terminal's domain
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="uptime" type="xs:unsignedLong"/>
                    <xs:element name="virtual_display" type="xs:integer" minOccurs="0"/>
                    <xs:element name="screenshot" type="Screenshot" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Terminal class -->
    <xs:complexType name="Class">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Terminal class
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="touch" type="xs:boolean" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Flag whether it is a class with touch screen
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The appropriate record's ID
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="full_name" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            A verbose name
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="amount" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            An amount of terminals in this class
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Terminal domain -->
    <xs:complexType name="Domain">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Terminal domain
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The appropriate record's ID
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Termianl address -->
    <xs:complexType name="Address">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Terminal address
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="street" type="xs:string" use="required"/>
        <xs:attribute name="house_number" type="xs:string" use="required"/>
        <xs:attribute name="city" type="xs:string" use="required"/>
        <xs:attribute name="zip_code" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:integer">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The appropriate record's ID
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <!-- A terminal's screenshot -->
    <xs:complexType name="Screenshot">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A screen shot of a terminal
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="timestamp" type="xs:dateTime" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The time, when the screenshot was taken
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="mimetype" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The screenshot picture's mime type
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="tid" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The appropriate terminal's ID
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cid" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The appropriate terminal's customer's ID
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Customer data -->
    <xs:complexType name="Customer">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Localized text string
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The customer's ID
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Web console data -->
    <xs:complexType name="WebConsole">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Localized text string
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="prompt" type="xs:string"/>
            <xs:element name="reply" type="TerminalResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Web console data -->
    <xs:complexType name="TerminalResult">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Localized text string
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="exit_code" type="xs:byte">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The return code
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stdout" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Text of the STDOUT
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stderr" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Text of the STDERR
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="timestamp" type="xs:dateTime" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A time stamp
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cid" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The customer ID
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tid" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The terminal ID
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <!-- Messages -->
    <xs:complexType name="Message">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Messages
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="text" type="Text" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The messages' body or content
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="code" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A unique message code
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <!-- Localized message text -->
    <xs:complexType name="Text">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Localized text string
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The language of the text
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Terminal setup operator -->
    <xs:complexType name="SetupOperator">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                An operator that is allowed to setup terminals
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The ID of the operator
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="annotation" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            An optional annotation
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Terminal administrator -->
    <xs:complexType name="Administrator">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                An administrator that is allowed to manage terminals
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The ID of the administrator
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="annotation" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            An optional annotation
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- SIMPLE TYPES -->


    <!-- IPv4 address -->
    <xs:simpleType name="IPv4Address">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                An IPv4 address
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern
                value="(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])"
            />
        </xs:restriction>
    </xs:simpleType>


    <!-- Definition of a universally unique identifier -->
    <xs:simpleType name="UUID4">
        <xs:annotation>
            <xs:documentation xml:lang="en">A Universally Unique Identifier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
